.menu {
  margin: auto;
  display: flex;
  gap: 32px;
}
.menuButton {
  height: 72px;
  align-content: center;
  color: var(--black);
}
.menuButton:hover {
  text-decoration: underline;
}
.isActive {
  color: var(--red-hover);
}
.navigation {
  position: relative;
  display: flex;
  background-color: var(--grey-icons);
}
.logo {
  position: absolute;
  top: 28px;
  left: 64px;
}
