.home {
  background-image: url(../../img/hero-mobile.webp);
  padding: 200px 0 200px 24px;
  background-size: cover;
  @media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    background-image: url(../../img/hero-mobile@2x.webp);
  }
  @media (min-width: 768px) {
    padding: 260px 0 260px 64px;
    background-image: url(../../img/hero-tablet.webp);
  }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    background-image: url(../../img/hero-tablet@2x.webp);
  }
  @media (min-width: 1440px) {
    background-image: url(../../img/hero.webp);
  }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    background-image: url(../../img/hero@2x.webp);
  }
}

.mainHeader {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
  line-height: 42px;
  color: var(--grey-forms);
  @media (min-width: 768px) {
    font-size: 48px;
  }
}
.subHeader {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: var(--grey-forms);
  margin-bottom: 40px;
}
